header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    font-size: 24px;
    color: black;
}

main {
    padding: 20px;
    font-size: 20px;
    font-family: "Titillium Web", sans-serif;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.titillium-web-extralight {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.titillium-web-light {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titillium-web-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.titillium-web-bold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.titillium-web-black {
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.titillium-web-extralight-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.titillium-web-light-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.titillium-web-regular-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.titillium-web-semibold-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.titillium-web-bold-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: italic;
}